@(message: String)

@main("Welcome to Play 2.0") {
    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

	<div class="top-menu">
		<h1>做点什么呢?</h1>
		<div>
			<a class="btn btn-inverse" href="" >说点</a>
			<a class="btn btn-inverse" href="" >问点</a>
			<a class="btn btn-inverse" href="" >卖点</a>
			<a class="btn btn-inverse" href="" >叫点</a>
		</div>
	</div>

    <div class="container">
		<div class="arrow-wrapper"></div>

    </div> <!-- /container -->
    
}